body {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  background-color: #b1e2b4;
  color: #151515;
}

h1, h2, h3, h4 {
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

a {
  font-size: 1.25em;
}

a:link,
a:visited {
  color: #f97825;
}

img {
  max-width: 100%;
}

article {
  margin: 2%;
  border: solid 1px #151515;
  border-radius: 15px;
  background-color: #e3f7e3;
}

article h1 {
  font-size: 1.5em;
}
