.icon-menu {
  font-size: 2em;
  text-align: center;
}

.main-nav ul {
  display: none;
}

.main-nav:hover ul {
  display: block;
}

.nav-list {
  padding: 0;
  text-align: center;
}

.nav-list:hover {
  display: block;
}

.nav-list li {
  list-style: none;
  margin: 2%;
}

.template {
  display: none;
}

.credits {
  text-align: center;
  font-size: 1em;
}

.article-body {
  margin: 0 20% 2%;
  text-align: left;
  font-size: 1em;
}

.iLove {
  padding: 0;
  text-align: center;
}

.iLove li {
  list-style: none;
}

#about {
  margin-bottom: 4%;
}

#about p{
  text-align: center;
}

@media only screen and (min-width: 640px) {

  .icon-menu {
    display: none;
  }

  .main-nav ul {
    width: 100%;
    display: block;
    margin: 0 auto;
  }

  .main-nav li {
    display: inline-block;
    margin: 0;
    width: 15%;
    padding: 2%;
    text-align: center;
  }



}
